<!DOCTYPE html>
<html lang="en">

<head>
    <title>id-fauna</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <header>
        

        <div class="container">
            <p class="logo">ID-Fauna!</p>
            
            <span class="bander"></span>
           
            <nav>
                <a href="#somos-proya">Quienes Somos</a>
                <a href="#nuestros-programas">Tipos de Animales </a>
                
            </nav>
        </div>
    </header>

    <section id="hero">
        <h1 >Aniameles fantasticos <br>y<br> donde encontrarlos</h1>
        <button><a href="{{ url_for('predecir') }}" class="link_blanco">BUSCALOS YA!</a></button>
    </section>

    <section id="somos-proya">
        <div class="container">
            <div class="img-container"></div>
            <div class="texto">
                <h2>Somos <span class="color-acento">ID-Fauna!</span></h2>
                <p>En ID-Fauna!, nos preocupa la receptividad y la confusión de animales 
                    posiblemente peligrosos para los humanos debido a la desinformación causada por la apariencia de los animales.
                </p>
                <p>
                    En nuestra plataforma, encontrarás una gran variedad de animales con información que puede ayudarte a prevenir
                     y enfrentar encuentros con animales, contribuyendo así a preservar su hábitat y la salud del usuario.
                </p>
            </div>
        </div>
    </section>

    <section id="nuestros-programas">
        <div class="container">
            <h2>Grupos Dominantes </h2>
            <div class="programas">
                <div class="carta">
                    <h3>Animales domesticos</h3>
                    <p>Criados por humanos para vivir en sus hogares y compartir su vida con la tuya ofrecerte su lealtad como los perros y gatos  </p>
                    <button>+ Info</button-->
                </div>
                <div class="carta">
                    <h3> Animales rurales </h3>
                    <p><br> <br>Hacen de las granjas y áreas rurales su hogar, piensa en las vacas que pastan en los campos o los caballos</p>
                    <button>+ Info</button-->
                </div>
                <div class="carta">
                    <h3>Animales peligrosos</h3>
                    <p>representar una amenaza para los seres humanos debido a su tamaño, fuerza, veneno u otros medios de defensa</p>
                    <button>+ Info</button-->
                </div>
            </div>
        </div>
    </section>

    <section id="final">
        <h2>Listo para explorar?</h2>
        <button><a href="{{ url_for('predecir') }}" class="link_blanco">BUSCALOS YA!</a></button>

    </section>

    <footer>
        <div class="container">
            <p>&copy; ID-Fauna! <span id="year"></span></p>

        </div>
    </footer>

</body>
<script>
    // Obtener el elemento span donde se mostrará el año
var yearSpan = document.getElementById("year");

// Obtener el año actual
var currentYear = new Date().getFullYear();

// Actualizar el contenido del span con el año actual
yearSpan.textContent = currentYear;
</script>
</html>