<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLASIFICADOR DE ANIMALES</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='prd.css') }}">
</head>
<body>
    
    <div id="result">
        <header>
            <div class="container">
                <p class="logo">Bio-guia!</p>
                <nav>
                    <a href="#somos-proya">Instrucciones</a>
                </nav>
            </div>
        </header>
    
        <section id="hero">
            <h1>Busca <br> <span style="color:rgb(19, 119, 44);">&</span><br>Descubre</h1>

            <div id="contenedor-prediccion">
                <!-- Tu formulario y resultados aquí -->
         
                <form action="/" method="post" enctype="multipart/form-data" id="animal-form">
                    <label for="image">Seleccionar imagen:</label>
                    <input type="file" id="image" name="image" accept="image/*" title="Seleccionar imagen">
                   
                    
                    <select id="model" name="model">
                        {% for model_name in model_names %}
                            <option value="{{ model_name }}">{{ model_name }}</option>
                        {% endfor %}
                    </select>
                    
                    <button type="submit" id="btnpredecir">Predecir</button>
                </form>
                
                
                {% if image_path %}
                <div class="result">
                    <h2 style="color: white;">Imagen seleccionada:</h2>
                    <!-- Muestra la imagen si hay una ruta de imagen disponible -->
                    <img src="{{ url_for('static', filename='temp_image.jpg') }}"style="width: 200; height: 200px;" alt="Imagen seleccionada">
                </div>
                {% endif %}
                
                {% if predicted_results %}
<div class="result">
    <h2>Resultado:</h2>
    {% for predicted_class in predicted_results %}
    Clase: {{ predicted_class }} <br>
    <button type="button" class="btn btn-info"> mostrar Descripción</button>
    <br> <!-- Agrega un salto de línea después de cada clase predicha -->
    {% endfor %}
</div>
{% endif %}
                

            

            </div>
            
        </section>
    
        <section id="somos-proya">
            <div class="container">
                <div class="img-container"></div>
                <div class="texto">
    
                    <h2>Instrucciones</h2>
                    <p>Para usar este programa debe hacer clic en Seleccionar Imagen y despues de seleccionar, hacer clic en Predecir.
                         Luego el programa le mostrará un resultado de a que animal se parece y le mostrará un porcentaje de precición.</p>
                </div>
            </div>
        </section>
        
    </div>
    <script>

        function seleccionarImagen() {
            document.getElementById('inputFile').click();
        }
    
        document.getElementById('inputFile').addEventListener('change', function(event) {
            var archivo = event.target.files[0];
            var lector = new FileReader();
            
            lector.onload = function(event) {
                var imagenMostrada = document.getElementById('imagenMostrada');
                imagenMostrada.src = event.target.result;
                imagenMostrada.style.display = 'block';
            };
            
            lector.readAsDataURL(archivo);
        });
    </script>

<footer>
    <div class="container">
        <p>&copy; Bio-guia 2024</p>
    </div>
</footer>



</body>
</html>
